<%- include("header")  -%>

  <h4 id="heading">It's <%= listTitle %></h4>
  <form class="" action="/" method="post">

    <input class="input" type="text" name="userInput" placeholder="Add Item.." value="">
    <button class="btn-circle" type="submit" name="list" value="<%= listTitle %>"><i class="fa fa-plus "></i></button>

  </form>


  <ul class="list-group">

    <%    for (var i = 0; i < newListItems.length; i++) { %>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." autocomplete="off">
      <%= newListItems[i] %>
    </li>

    <%  } %>

  </ul>


  </form>


  <%- include("footer")  -%>
