<%- include("header")  -%>

  <h4 id="heading">It's <%= listTitle %></h4>
  <form class="item" action="/" method="post">

    <input class="input" type="text" name="userInput" placeholder="Add Item.." value="">
    <button class="btn-circle" type="submit" name="list" value="<%= listTitle %>"><i class="fa fa-plus "></i></button>

  </form>


  <ul class="list-group">



    <%   newListItems.forEach(function(item){ %>

  <form action="/delete" method="post">
  <li class="list-group-item">
  <input class="form-check-input me-1" name="checkbox" value="<%= item._id%>" onChange="this.form.submit()"  name="checkbox" type="checkbox" aria-label="..." autocomplete="off"> <%= item.name %>
  </li>
  </form>

<%  }); %>


  </ul>




  <%- include("footer")  -%>
